html {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

#boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top:3rem ;
}



#boxes div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: antiquewhite;
    height: 4rem;
    width: 4rem;
}